h1 {
	color: yellow;
}

* {
	font-family: "Courier New", monospace;
	font-size: 20px;
}

#zuitt_motto {
	letter-spacing: 5px;
}

.offering_item {
	text-transform: uppercase;
}

[required] {
	border-width: 2px;
	border-style: solid;
	border-color: navy;
	width: 90%;
}

/*h1 {
	letter-spacing: 25px !important;
}*/

h3 + img {
	height: 300px;
	width: 300px;
	border-radius: 150px;
}

#bootcamp_learning_list li {
	color:	#14cc2d;
}

h2 ~ a {
	text-decoration: none;
}

form > label {
	color: rgb(86, 199, 150);
}

body {
	background-color: skyblue;
}

section {
	height: 100vh;
	text-align: center;
}

html {
	scroll-behavior: smooth;
}

nav {
	background-color: white;
}

a:hover {
	background-color: yellow;
}

div {
	display: inline;
	float:	right;
}

ol {
	list-style-type: none;
}

form {
	text-align: center;
	background-color: white;
	border-width: 2px;
	border-style: solid;
	border-color: black;
	height: 185px;
	width: 25vw;
	position: relative;
	left: 37.5%;
}

button {
	background-color: #3deb34;
	color: white;
	border: 0;
	border-radius: 15px;
}