* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

nav {
    top: 0;
    padding: 0.8rem;
    margin-bottom: 0.5rem;
    align-items: center;
    position: sticky;
    background-color: white;
    padding-left: 12rem;
    padding-right: 12rem;
}

.nav-logo, .right-nav > .nav {
    margin: 0.5rem;
    display: inline-block;
}

.right-nav {
    float: right;
}

.tuitt-button {
    background-color: #c2195b;
    color: white;
    font-weight: bold;
    border-radius: 25px;
    padding: 0.8rem;
    border: 0;
}

#bg-image {
    background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
    background-position: center;
    background-size: 100%;
    margin-left: 8rem;
    margin-right: 8rem;
    min-height: 30vh;
}

.front-bg {
    background-color: rgba(0, 0, 0, 0.5);
    min-height: 30vh;
}

.container {    
    text-align: right;
    padding-right: 10%;
}

.title {
    font-weight: bold;
    font-size: 30px;
    color: white;
    padding-left: 50%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.subtitle {
    color: white;
    padding-left: 65%;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
    font-weight: unset;
    font-size: 12px;
}

.title, .title-2 {
    font-family: 'Zilla Slab', serif;
}

.apply-button {
    background-color: #c2195b;
    color: white;
    font-weight: bold;
    border-radius: 25px;
    padding: 0.8rem;
    border: 0;
    margin-bottom: 3rem;
}

.intro {
    text-align: center;
}

.title-2, .intro-description {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2rem;
    padding-bottom: 3rem;
}

.pre-footer {
    text-align: center;
    background-color: #f7fbfb;
    margin-left: 12rem;
    margin-right: 12rem;
    padding-bottom: 5rem;
}

.prefooter-description {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.book-button {
    background-color: #336589;
    color: white;
    font-weight: bold;
    border-radius: 25px;
    padding: 0.8rem;
    border: 0;
}

footer {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}