#second_paragraph {
	color: blue;
}

* {
	font-family: "Lato", monospace;
	font-size: 14px;
}

h1 {
	font-size: 35px /*!important*/;
}

#second_heading {
	text-transform: uppercase;
}

.programming_languages {
	background-color: deepskyblue;
}

[value] {
	border-width: 2px;
	border-style: solid;
	border-color: aquamarine;
}

img + ol {
	list-style-type: none;
}

section img {
	height: 200px;
	width: 200px;
	border-radius: 150px;
}

ol ~ p {
	text-align: center;
}

#third_list > li {
	letter-spacing: 5px;
}